#header {
  background-color: aqua;
  display: flex;
  height: 100px;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
}

.route {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.routing {
  margin: 10px;
}

#launches {
  background-color: bisque;
  display: flex;
  height: 100px;
  margin: 0px;
}

#ship {
  background-color: blueviolet;
  display: flex;
  height: 100px;
  margin: 0px;
}

#crew {
  background-color: chocolate;
  display: flex;
  height: 100px;
  margin: 0px;
}
